<!DOCTYPE html>
    <html>
        <html lang="en" dir="ltr">
    <link>
    <title>Forms Review</title>
    <meta charset="utf-8">
    <form action="/submissionRev.html" method="POST">
    <meta name="movie-page" content="with=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <head>
        <title>IMDB</title>
    </head>
   
        <nav>
            <a href="/site">Back to main page</a>
        </nav>
        <h2>Welcome To The Page Of The Movie:</h2>
        {{ with .movie}}
        {{ .Name }}
        {{ end }}

        <h2>By:</h2>
        {{ with .directorOfMovie}}
        {{ .Name }}
        {{ end }}
        {{ with .movie}}
       <h4>short description : {{ .Description }}</h4>  
        {{end}}
        <h2>(Rank: {{ $.rankOfMovie}}/100)</h2>
        <section class="rnk">
            <button type="button" id="theButton" onclick="clickMe()">Add Your Rank!</button>
            <input type="number" name="rnk" id="rnk" min="0" max="100" style="display: none;">
        </section>
        <section class="sub">
            <input type="submit" value="submit" style="display:none;">
        </section>

        <h1>Users Reviews</h1>

        {{ with .reviewsOfMovie}}
        {{ range .}}
        <section id="revs">
            {{ if .Text }}
        <p>
            By:
        </p>
        <p>
            {{ .Text}}
        </p>
            {{ end }}
        </section> 
        {{ end }}
        {{ end }}

    <hr>
        <h1>Add Your Review!</h1>
            <section class="txt">
                <br>
                <textarea id="txt" name="txt" rows="3" cols="40"></textarea>
            </section>
            <section class="submission">
                <input type="submit" value="submit">
            </section>
        </form>

            <script>

    function clickMe() {
    var text = document.getElementById("rnk")
    var sub = document.getElementsByTagName("input")[1]
    text.style.display = window.getComputedStyle(text, null).display === 'none' ? 'block' : 'none'
    sub.style.display = window.getComputedStyle(sub, null).display === 'none' ? 'block' : 'none'
  }
        </script>

    </body>
</html>