html, body {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  


.header p {
    color: rgb(151, 36, 36);
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase; 
  }